- if current_user
  div#new_answer
    = render 'answers/form', answer: question.answers.build

h4 Answers
div#answers

javascript:
  'use strict';
  document.querySelector("#answers").addEventListener(
    "load",
    Rails.ajax({
      type: "GET",
      url:  window.location.pathname +
            "/answers" +
            window.location.search
    })
  )
