p = markup(answer.description).html_safe
p
  small by
  =<> answer.user.name

=> link_to 'Edit', edit_question_answer_path(answer.question, answer)
'|
=<> link_to 'Destroy', [answer.question, answer], data: { confirm: 'Are you sure?' }, method: :delete

br
